mixin section-logos()
	section.section-logos.index-content__section-logos
		.container
			.section-logos__wrapper
				.section-logos__logo
					img.section-logos__img(src='assets/images/envato@1x.png', width='161', height='31', alt='Envato')
					| Envato
				.section-logos__logo
					img.section-logos__img(src='assets/images/wordpress@1x.png', width='186', height='42', alt='Wordpress')
					| Wordpress
				.section-logos__logo
					img.section-logos__img(src='assets/images/tuts@1x.png', width='131', height='41', alt='Tuts+')
					| Tuts+
				.section-logos__logo
					img.section-logos__img(src='assets/images/microlancer@1x.png', width='167', height='42', alt='Microlancer')
					| Microlancer
				
