*, *:before, *:after
	box-sizing border-box
	
html
	box-sizing border-box

html, body
	height 100%

body
	font-size $fontSize
	line-height $lineHeight
	font-family $main-font

a
	text-decoration none

	transition all .2s ease

	&:hover
		transition none

svg
	transition all .2s ease

s
	text-decoration none
