// Regular
@font-face
	font-family 'Montserrat'
	src url('../fonts/montserrat/Montserrat-Bold-webfont.woff2'),
			url('../fonts/montserrat/Montserrat-Bold-webfont.woff')
	font-style normal
	font-weight 700

@font-face
	font-family 'RobotoSlab'
	src url('../fonts/roboto/RobotoSlab-Regular-webfont.woff2'),
			url('../fonts/roboto/RobotoSlab-Regular-webfont.woff')
	font-style normal
	font-weight 400


// Bold
@font-face
	font-family 'Montserrat'
	src url('../fonts/montserrat/Montserrat-Regular-webfont.woff2'),
			url('../fonts/montserrat/Montserrat-Regular-webfont.woff')
	font-style normal
	font-weight 400
