mixin section-top()
	section.section-top.index-content__section-top
		.section-top__wrapper
			h1.section-top__title
				| Creative digital<br> solutions
			.section-top__subtitle.section-top__subtitle--color
				| Proin iaculis purus consequat sem cure.
			a.btn.section-top__btn-view(href='#') View portfolio
