mixin section-feautures()
	section.section-feautures.index-content__section-feautures
		.section-feautures__gear
		section.section-feautures__relax
			h2.section-feautures__title.section-feautures__title--color-title
				| Just relax&nbsp;
				span.section-feautures__color &amp;
				br
				| let us do the heavy lifting
			p.section-feautures__text.section-feautures__text
				| Proin iaculis purus consequat sem cure  digni ssim. Donec<br>
				| porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt.
			ul.section-feautures__list-items
				li.section-feautures__item.section-feautures__item--marker
					|  Initial Setup &amp; Customizations
				li.section-feautures__item.section-feautures__item--marker
					|  Regular Updates
				li.section-feautures__item.section-feautures__item--marker
					|  Round The Clock Support
			a.btn.section-feautures__btn Learn more
