mixin section-reviews()
	section.section-reviews.index-content__reviews
		.container
			.section-reviews__heading
				h2.section-reviews__title
					| Our awesome clients
				span.section-reviews__sub-title
					| Proin iaculis purus consequat sem cure.
			article.section-reviews__review-client
				.section-reviews__avatar.section-reviews__avatar--margin-right
				blockquote.section-reviews__review
					p.section-reviews__review-text
						| “ Proin iaculis purus consequat sem cure  digni ssim
						| donec porttitora entum suscipit aenean rhoncus. ”
					footer
						cite.section-reviews__author  Jamie Richardson, Founder of Cocoa Media
			article.section-reviews__review-client.section-reviews__review-client--margin
				blockquote.section-reviews__review
					p.section-reviews__review-text
						| “ Proin iaculis purus consequat sem cure  digni ssim
						| donec porttitora entum suscipit aenean rhoncus. ”
					footer
						cite.section-reviews__author.section-reviews__author--padding  Kim Thompson, Founder of Rainel
				.section-reviews__avatar.section-reviews__avatar--margin-left
