mixin section-services()
		section.section-services
			.container
				.section-services__heading
					h2.section-services__title
						| Professional Services
					span.section-services__sub-title
						| Proin iaculis purus consequat sem cure
				.section-services__wrapper-items
					.section-services__inner-item.section-services__inner-item--icon.section-services__inner-item--icon-heart
						h3.section-services__title-item
							| Beautiful designs
						p.section-services__text-item
							| Proin iaculis purus consequat sem cure
							| digni ssim. Donec porttitora entum suscipit
							| aenean rhoncus posuere odio in tincidunt.
					.section-services__inner-item.section-services__inner-item--icon.section-services__inner-item--icon-phone
						h3.section-services__title-item
							| Responsive web
						p.section-services__text-item
							| Proin iaculis purus consequat sem cure
							| digni ssim. Donec porttitora entum suscipit
							| aenean rhoncus posuere odio in tincidunt.
					.section-services__inner-item.section-services__inner-item--icon.section-services__inner-item--icon-graph
						h3.section-services__title-item
							| Marketing tools
						p.section-services__text-item
							| Proin iaculis purus consequat sem cure
							| digni ssim. Donec porttitora entum suscipit
							| aenean rhoncus posuere odio in tincidunt.
