mixin latest-posts()
	.latest-posts
		.latest-posts__title Latest posts
		.latest-posts__info
			.latest-posts__item
				+svg-icon("latest-posts__icon  latest-posts__icon--news","#icon-news")
				a.latest-posts__value(href='#') Made With Love In Toronto
			.latest-posts__item.latest-posts__item--margin
				+svg-icon("latest-posts__icon  latest-posts__icon--photo","#icon-photo")
				a.latest-posts__value(href='#') Startup News & Emerging Tech 
			.latest-posts__item
				+svg-icon("latest-posts__icon  latest-posts__icon--news","#icon-news")
				a.latest-posts__value(href='#') Bitcoin Will Soon Rule The World 
			.latest-posts__item
				+svg-icon("latest-posts__icon  latest-posts__icon--news","#icon-news")
				a.latest-posts__value(href='#') Wearable Technology On The Rise	
			.latest-posts__item
				+svg-icon("latest-posts__icon  latest-posts__icon--media","#icon-media")
				a.latest-posts__value(href='#') Learn Web Design In 30 Days!
