.btn
	display inline-block
	vertical-align middle
	padding 10px 35px
	border-radius 30px
	color $white-color
	text-align center
	text-transform uppercase
	font-weight 700
	font-size 15px
	line-height 2.73
	text-shadow 0 1px 1px rgba(black, 0.7)
	background-color $brand-color
	cursor pointer
	letter-spacing -0.025em

	&:hover, &:focus
		background-color $white-color
		color $black-light
	&:active
		background-color lighten($brand-color, 10%)
