.index-content__section-top
  margin-bottom 95px
  +at(2)
    margin-bottom 55px
  +at(3)
    margin-bottom 65px

.index-content__section-feautures
  margin-bottom 95px
  +at(2)
    margin-bottom 55px

.index-content__section-project
  margin-bottom 55px
  +at(2)
    margin-bottom 55px

.index-content__section-values
  margin-bottom 99px

.index-content__reviews
  margin-bottom 71px
