mixin header()
	header.page-header.page-header--no-js
		a.page-header__logo(href='#')
			div.page-header__logo-icon
				span.sprite-leaf.page-header__icon-leaf
			span.page-header__logo-title Treehouse
		nav.page-header__nav.page-header__mobile-menu
			a.page-header__nav-item Home
			a.page-header__nav-item(href='#') About
			a.page-header__nav-item(href='#') Blog
			a.page-header__nav-item(href='#') Portfolio
			a.page-header__nav-item(href='#') Contact
		button.page-header__hamburger(type='button')
			| Меню
