include ../svg-icon/svg-icon

mixin section-contact()
	section.section-contact
			.section-contact__wrapper
				h2.section-contact__title
					| Ready to talk about your next project?
				a.btn.section-contact__btn(href='#') Contact us

