.section-contact
	display flex
	justify-content center
	align-items center
	background-color $brand-color
	padding 65px 0 70px 0

	&__wrapper
		text-align center

	&__title
		section-title()
		color $white-color
		margin-bottom 23px
		+at(2)
			font-size 28px
		+at(3)
			font-size 40px

	&__btn
		font-size 18px
		line-height 2.28
		border-radius 6px
		border 3px solid $white-color
		padding 2px 26px
		text-shadow none
		letter-spacing normal

		&:hover, &:focus
			color $brand-color
			text-shadow none

		&:active
			color $white-color
