mixin section-values()
	section.section-values.index-content__section-values
		.container
			.section-values__heading
				h2.section-values__title Culture & Values
				span.section-services__sub-title Proin iaculis purus consequat cure.
			.section-values__wrapper-items
				.section-values__inner-item
					.section-values__icon-item
						span.section-values__circle.section-values__circle--icon-music
					h3.section-values__title-item Work-life balance
					p.section-values__text-item
						| Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
				.section-values__inner-item
					.section-values__icon-item.section-values__icon-item--border
						span.section-values__circle.section-values__circle--icon-graph
					h3.section-values__title-item Quality over quantity
					p.section-values__text-item
						| Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
				.section-values__inner-item
					.section-values__icon-item.section-values__icon-item--no-border
						span.section-values__circle.section-values__circle--icon-star
					h3.section-values__title-item Deliver excellence
					p.section-values__text-item
						| Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
