mixin section-project()
	section.section-project.index-content__section-project
			.section-project__heading
				h2.section-project__title
					| Latest project
				span.section-project__sub-title
					| Proin iaculis purus consequat sem cure
			.section-project__developing
				h3.section-project__head
					| Developing a framework
				p.section-project__text
					| Proin iaculis purus consequat sem cure  digni ssim&nbsp;
					| donec porttitora entum suscipit  aenean rhoncus posuere
					| odio in tincidunt.
				.section-project__list-items
					.section-project__item.section-project__item--icon.section-project__item--icon-basket
						h4.section-project__item-title E-Commerce Ready
						p.section-project__item-sub-title
							| Proin iaculis purus consequat sem cure  digni ssim.
					.section-project__item.section-project__item--icon.section-project__item--icon-laptop
						h4.section-project__item-title Powerful SEO Features
						p.section-project__item-sub-title
							| Proin iaculis purus consequat sem cure.
					.section-project__item.section-project__item--icon.section-project__item--icon-locked
						h4.section-project__item-title Secure Encryption
						p.section-project__item-sub-title
							| Proin iaculis purus consequat sem cure iaculis purus.
				p.section-project__desc
					| Proin iaculis purus consequat sem cure  digni ssim donec
					| porttitora entum suscipit  aenean rhoncus posuere odio in.
				a.section-project__btn View Details
					+svg-icon("section-project__icon-arrow","#icon-arrow-right")
		
